{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "jest": true
  },
  "plugins": ["react", "react-hooks"],
  "rules": {
    "linebreak-style": ["error", "unix"],
    "no-param-reassign": ["error", { "props": false }],
    "semi": ["error", "never"],
    "no-console": "off",
    "no-shadow": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error"
  }
}
